.cardItem {
    background-color: #bbe6ad;
    padding: 1rem;
    margin: 1rem;
    width: 18rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgItem {
    width: 150px;
    object-fit: contain;
}

.detalles {
    text-transform: capitalize;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border-radius: 10px ; 
    border: solid 1px black;
    font-size: 1.2rem; 
    background-color: rgb(225, 225, 225);
}

