header {
    border-bottom: 2px solid black;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    display: inline-block;
    margin: 0.75rem;
}

a {
    text-transform: capitalize;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    background-color: rgb(22, 255, 185);
    border-radius: 10px ; 
}

#CartWidget {
    text-align: center;
}